@model int

<div class="accordion-item" id="exercise-@Model">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model" aria-expanded="true" aria-controls="collapse-@Model">
            <p>@(Model + 1)</p>
        </button>
    </h2>
    <div id="collapse-@Model" class="accordion-collapse collapse show" aria-labelledby="headingOne">
        <div class="accordion-body">
            <div class="form-group mt-2 mb-4 col-md-3">
                <label class="form-label" for="Exercises_@(Model)__Name">Name</label>
                <input class="form-control" id="Exercises_@(Model)__Name" name="Exercises[@Model].Name" />
            </div>

            <div class="my-3">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Set</th>
                            <th scope="col">Repetitions</th>
                            <th scope="col">Weight</th>
                        </tr>
                    </thead>
                    <tbody id="sets-container-@Model">
                        <!-- Sets will be dynamically added here -->
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary add-set-btn" data-exercise-id="@Model">Add Set</button>
            </div>
        </div>
    </div>
</div>