@model WorkoutTracker.Models.ViewModels.TrainingViewModel

<form asp-action="Create" method="post" class="d-flex flex-column gap-2">

    <div class="form-group col-md-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <label class="form-label" asp-for="Exercises"></label>
    <div id="exercises-container">
        @for (int i = 0; i < Model.Exercises.Count; i++)
        {
            <div class="exercise" id="exercise-@i">
                <h4>Exercise @i</h4>
                <div class="form-group">
                    <label class="form-label" asp-for="Exercises[i].Name"></label>
                    <input class="form-control" asp-for="Exercises[i].Name" />
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Exercises[i].Description"></label>
                    <textarea class="form-control" asp-for="Exercises[i].Description"></textarea>
                </div>

                <div id="sets-container-@i">
                    @for (int j = 0; j < Model.Exercises[i].Sets.Count; j++)
                    {
                        <div class="form-group set" id="set-@i-@j">
                            <label class="form-label" asp-for="Exercises[i].Sets[j].Repetitions"></label>
                            <input class="form-control" asp-for="Exercises[i].Sets[j].Repetitions" />

                            <label class="form-label" asp-for="Exercises[i].Sets[j].Weight"></label>
                            <input class="form-control" asp-for="Exercises[i].Sets[j].Weight" />
                        </div>
                    }
                </div>

                <button type="button" class="btn btn-primary add-set-btn" data-exercise-id="@i">Add Set</button>
            </div>
        }
    </div>

    <div class="form-group my-4">
        <button type="button" class="btn btn-primary" id="add-exercise-btn">Add Exercise</button>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>


</form>

@section Scripts {
    <script>
        let exerciseCount = @Model.Exercises.Count;
        let setCounters = Array(exerciseCount).fill(0);

        // Add Exercise Button Click Event
        $('#add-exercise-btn').on('click', function () {
            $.get('/Trainings/RenderExercisePartial', { exerciseIndex: exerciseCount }, function (data) {
                $('#exercises-container').append(data);
                setCounters.push(0); // Add new set counter for this exercise
                exerciseCount++;
            });
        });

        // Add Set Button Click Event
        $(document).on('click', '.add-set-btn', function () {
            const exerciseId = $(this).data('exercise-id');
            const setCounter = setCounters[exerciseId];

            $.get('/Trainings/RenderSetPartial', { exerciseIndex: exerciseId, setIndex: setCounter }, function (data) {
                $(`#sets-container-${exerciseId}`).append(data);
                setCounters[exerciseId]++;
            });
        });

    </script>
}


