@model WorkoutTracker.Models.ViewModels.TrainingViewModel

<script>
    const initialExercises = @Html.Raw(@Json.Serialize(Model.Exercises));
</script>

<div x-data="exerciseForm(initialExercises)" class="container mt-5 col-md-8">
    <form asp-action="Create" method="post" id="trainingForm" class="d-flex flex-column">

        <div class="form-group d-flex flex-column gap-2">
            <div class="d-flex col-12 justify-content-between">
                <div class="col-3">
                    <input class="form-control" asp-for="Name" placeholder="Training name" data-val-required="Training name is required." />
                </div>
                <button type="submit" class="btn btn-success" style="width: 110px">Save</button>
            </div>
            <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
        </div>

        <div class="form-group">
            <template x-for="(exercise, exerciseIndex) in exercises" :key="exerciseIndex">
                <div class="card my-2">
                    <div class="card-body shadow-lg">

                        <input type="hidden"
                               :name="'Exercises[' + exerciseIndex + '].Type'"
                               :value="exercise.type" />

                        <div class="d-flex justify-content-between">

                            <div class="form-group col-md-3 my-2">
                                <div class="d-flex flex-row gap-1">
                                    <input class="form-control" type="text"
                                           :id="'Exercises[' + exerciseIndex + '].Name'"
                                           :name="'Exercises[' + exerciseIndex + '].Name'"
                                           x-model="exercise.name"
                                           placeholder="Exercise name"
                                           data-val="true" data-val-required="Name is required for each exercise." />
                                    <i x-show="exercise.type === 0" class="fa-solid fa-dumbbell exercise-type-icon"></i>
                                    <i x-show="exercise.type === 1" class="fa-solid fa-person-running exercise-type-icon"></i>
                                    <i x-show="exercise.type === 2" class="fa-solid fa-hourglass-half exercise-type-icon"></i>
                                </div>

                                @* <textarea class="form-control" type="text" *@
                                @*        :id="'Exercises[' + exerciseIndex + '].Description'" *@
                                @*        :name="'Exercises[' + exerciseIndex + '].Description'" *@
                                @*        x-model="exercise.description" *@
                                @*        placeholder="Exercise description"></textarea> *@

                            </div>

                            <a type="button" @@click="removeExercise(exerciseIndex)" class="btn-outline">
                                <i class="fa-regular fa-circle-xmark" style="font-size: 22px; color: palevioletred"></i>
                            </a>
                        </div>

                        <div class="form-group">
                            <table class="table table-borderless">

                                <thead>
                                    <tr>
                                        <th></th>
                                        <th x-show="exercise.type === 0">Reps</th>
                                        <th x-show="exercise.type === 0">Weight (kg)</th>
                                        <th x-show="exercise.type === 1 || exercise.type === 2">Duration (hh:mm:ss)</th>
                                        <th x-show="exercise.type === 1">Distance (km)</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <template x-for="(set, setIndex) in exercise.sets" :key="setIndex">
                                        <tr>
                                            <td x-text="setIndex + 1" style="align-content: center; text-align: center">

                                            </td>

                                            <td x-show="exercise.type === 0">
                                                <input class="form-control" type="number"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Repetitions'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Repetitions'"
                                                       x-model="set.repetitions" 
                                                       data-val="true" />
                                            </td>

                                            <td x-show="exercise.type === 0">
                                                <input class="form-control" type="number" step="any"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Weight'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Weight'"
                                                       x-model="set.weight"
                                                       data-val="true" />
                                            </td>

                                            <td x-show="exercise.type === 1 || exercise.type === 2">
                                                <input class="form-control" type="time" step="1"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Duration'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Duration'"
                                                       x-model="set.duration" 
                                                       data-val="true" />
                                            </td>

                                            <td x-show="exercise.type === 1">
                                                <input class="form-control" type="number" step="any"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Distance'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Distance'"
                                                       x-model="set.distance" 
                                                       data-val="true" />
                                            </td>

                                            <td style="align-content: center; text-align: center">
                                                <a type="button" class="m-auto" @@click="exercise.sets.splice(setIndex, 1)">
                                                    <i class="fa-solid fa-trash" style="font-size: 22px; color: palevioletred"></i>
                                                </a>
                                                <input hidden
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].ExerciseType'"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].ExerciseType'"
                                                       :value="set.exerciseType" />
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>

                            <button type="button" class="btn btn-success mx-auto" @@click="addSet(exercise)">Add Set</button>

                        </div>
                    </div>
                </div>
            </template>

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <button type="button" class="btn btn-success mx-auto" @@click="addExercise(0)">Add Strength Exercise</button>
            <button type="button" class="btn btn-success mx-auto" @@click="addExercise(1)">Add Cardio Exercise</button>
            <button type="button" class="btn btn-success mx-auto" @@click="addExercise(2)">Add Isometric Exercise</button>

        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="/js/exerciseForm.js"></script>
    }
}
<!-- jQuery Validation scripts for unobtrusive validation -->
