@model WorkoutTracker.Models.ViewModels.TrainingViewModel

@{
    ViewData["Title"] = "Edit";
}

<script>
    const initialExercises = @Html.Raw(@Json.Serialize(Model.Exercises));
</script>

<div x-data="exerciseForm(initialExercises)" class="container mt-5 col-lg-8">
    <form asp-action="Edit">
        <div class="form-group d-flex flex-column gap-2">
            <div class="d-flex col-12 justify-content-between">
                <div class="col-3">
                    <input class="form-control" asp-for="Name" placeholder="Training name" />
                </div>
                <button type="submit" class="btn btn-success" style="width: 110px">Save</button>
            </div>
            <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
        </div>

        <div class="form-group">
            <template x-for="(exercise, exerciseIndex) in exercises" :key="exerciseIndex">
                <div class="card my-2">
                    <div class="card-body shadow-lg">

                        <input type="hidden"
                               :name="'Exercises[' + exerciseIndex + '].Type'"
                               :value="exercise.type" />

                        <div class="d-flex justify-content-between">

                            <div class="form-group col-md-3 my-2">
                                <div class="d-flex flex-row gap-1">
                                    <input class="form-control" type="text"
                                           :id="'Exercises[' + exerciseIndex + '].Name'"
                                           :name="'Exercises[' + exerciseIndex + '].Name'"
                                           x-model="exercise.name"
                                           placeholder="Exercise name"
                                           data-val="true" data-val-required="Name is required for each exercise." />
                                    <i x-show="exercise.type === 0" class="fa-solid fa-dumbbell exercise-type-icon"></i>
                                    <i x-show="exercise.type === 1" class="fa-solid fa-person-running exercise-type-icon"></i>
                                    <i x-show="exercise.type === 2" class="fa-solid fa-hourglass-half exercise-type-icon"></i>
                                </div>
                            </div>

                            <a type="button" @@click="removeExercise(exerciseIndex)" class="btn-outline">
                                <i class="fa-regular fa-circle-xmark" style="font-size: 22px; color: palevioletred"></i>
                            </a>
                        </div>

                        <div class="form-group">
                            <table class="table table-borderless">

                                <thead>
                                    <tr>
                                        <th></th>
                                        <th x-show="exercise.type === 0">Reps</th>
                                        <th x-show="exercise.type === 0">Weight (kg)</th>
                                        <th x-show="exercise.type === 1 || exercise.type === 2">Duration (hh:mm:ss)</th>
                                        <th x-show="exercise.type === 1">Distance (km)</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <template x-for="(set, setIndex) in exercise.sets" :key="setIndex">
                                        <tr>
                                            <td x-text="setIndex + 1" style="align-content: center; text-align: center">
       
                                            </td>

                                            <td x-show="exercise.type === 0">
                                                <input class="form-control" type="number" 
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Repetitions'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Repetitions'"
                                                       x-model="set.repetitions"
                                                       data-val="true" data-val-required="Repetitions are required for strength exercises." />
                                            </td>

                                            <td x-show="exercise.type === 0">
                                                <input class="form-control" type="number"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Weight'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Weight'"
                                                       x-model="set.weight" />
                                            </td>

                                            <td x-show="exercise.type === 1 || exercise.type === 2">
                                                <input class="form-control" type="time" step="1"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Duration'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Duration'"
                                                       x-model="set.duration"
                                                       data-val="true" data-val-required="Duration is required for this exercise type." />
                                            </td>

                                            <td x-show="exercise.type === 1">
                                                <input class="form-control" type="number"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Distance'"
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Distance'"
                                                       x-model="set.distance"
                                                       data-val="true" data-val-required="Distance is required for cardio exercises." />
                                            </td>

                                            <td style="align-content: center; text-align: center">
                                                <a type="button" class="m-auto" @@click="exercise.sets.splice(setIndex, 1)">
                                                    <i class="fa-solid fa-trash" style="font-size: 22px; color: palevioletred"></i>
                                                </a>
                                                <input hidden
                                                       :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].ExerciseType'"
                                                       :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].ExerciseType'"
                                                       :value="exercise.type" />
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>

                            <button type="button" class="btn btn-success mx-auto" @@click="addSet(exercise)">Add Set</button>

                        </div>
                    </div>
                </div>
            </template>

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <button type="button" class="btn btn-success mx-auto" @@click="addExercise(0)">Add Strength Exercise</button>
            <button type="button" class="btn btn-success mx-auto" @@click="addExercise(1)">Add Cardio Exercise</button>
            <button type="button" class="btn btn-success mx-auto" @@click="addExercise(2)">Add Isometric Exercise</button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function exerciseForm(initialExercises) {
        return {
            exercises: initialExercises || [],

            updateValidation() {
                console.log("Validation updated");
                setTimeout(() => {
                    $('#trainingForm')
                        .removeData("validator")
                        .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse('#trainingForm');
                }, 0);
            },

            addExercise(type) {
                this.exercises.push({
                    name: '',
                    description: '',
                    type: type,
                    sets: type === 0
                        ? [{ repetitions: '', weight: '', exerciseType: type }]
                        : type === 1
                            ? [{ duration: '', distance: '', exerciseType: type }]
                            : [{ duration: '', exerciseType: type }]
                });
                this.updateValidation();
            },

            removeExercise(index) {
                this.exercises.splice(index, 1);
                this.updateValidation();
            },

            addSet(exercise) {
                if (exercise.type === 0) {
                    exercise.sets.push({ repetitions: '', weight: '', exerciseType: exercise.type });
                } else if (exercise.type === 1) {
                    exercise.sets.push({ duration: '', distance: '', exerciseType: exercise.type });
                } else if (exercise.type === 2) {
                    exercise.sets.push({ duration: '', exerciseType: exercise.type });
                }
                this.updateValidation();
            }
        };
    }

    document.addEventListener("DOMContentLoaded", function () {
        $('#trainingForm').on('submit', function () {
            setTimeout(() => {
                $('#trainingForm')
                    .removeData("validator")
                    .removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse('#trainingForm');
            }, 0);
        });
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}