@model WorkoutTracker.Models.ViewModels.TrainingViewModel

@{
    ViewData["Title"] = "Edit";
}

<script>
    const initialExercises = @Html.Raw(@Json.Serialize(Model.Exercises));
</script>

<div x-data="exerciseForm(initialExercises)" class="container mt-5 col-lg-8">
    <form asp-action="Edit">
        <div class="form-group d-flex flex-column gap-2">
            <div class="d-flex col-12 justify-content-between">
                <div class="col-3">
                    <input class="form-control" asp-for="Name" placeholder="Training name" />
                    <input type="hidden" asp-for="Id" />
                </div>
                <button type="submit" class="btn btn-success" style="width: 110px">Save</button>
            </div>
            <textarea class="form-control" asp-for="Description" placeholder="Description"></textarea>
        </div>

        <div class="form-group">
            <template x-for="(exercise, exerciseIndex) in exercises" :key="exerciseIndex">
                <div class="card my-2">
                    <div class="card-body shadow-lg">
                        <div class="d-flex justify-content-between">
                            <div class="form-group col-md-3 my-2">
                                <input class="form-control" type="text" :id="'Exercises[' + exerciseIndex + '].Name'" :name="'Exercises[' + exerciseIndex + '].Name'" x-model="exercise.name" placeholder="Exercise name">
                            </div>
                            <a type="button" @@click="removeExercise(exerciseIndex)" class="btn-outline">
                                <i class="fa-regular fa-circle-xmark" style="font-size: 22px; color: palevioletred"></i>
                            </a>
                        </div>

                        <div class="form-group">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Reps</th>
                                        <th>Weight</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template x-for="(set, setIndex) in exercise.sets" :key="setIndex">
                                        <tr>
                                            <td x-text="setIndex + 1" style="align-content: center; text-align: center"></td>
                                            <td>
                                                <input class="form-control" type="number" :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Repetitions'" :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Repetitions'" x-model="set.repetitions">
                                            </td>
                                            <td>
                                                <input class="form-control" type="number" :id="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Weight'" :name="'Exercises[' + exerciseIndex + '].Sets[' + setIndex + '].Weight'" x-model="set.weight">
                                            </td>
                                            <td style="align-content: center; text-align: center">
                                                <a type="button" class="m-auto" @@click="exercise.sets.splice(setIndex, 1)">
                                                    <i class="fa-solid fa-trash" style="font-size: 22px; color: palevioletred"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>

                            <button type="button" class="btn btn-success mx-auto" @@click="addSet(exercise)">Add Set</button>
                        </div>
                    </div>
                </div>
            </template>

            <button type="button" class="btn btn-success mx-auto" @@click="addExercise()">Add Exercise</button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    // Alpine.js function to initialize with exercises data
    function exerciseForm(initialExercises) {
        return {
            exercises: initialExercises || [
                { name: '', description: '', sets: [{ repetitions: '', weight: '' }] }
            ],
            addExercise() {
                this.exercises.push({
                    name: '',
                    description: '',
                    sets: [{ repetitions: '', weight: '' }]
                });
            },
            removeExercise(index) {
                this.exercises.splice(index, 1);
            },
            addSet(exercise) {
                exercise.sets.push({ repetitions: '', weight: '' });
            }
        };
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}